html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
body {
  overflow-x: hidden;
}
p {
  line-height: 1.25rem;
}
.header-desktop {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}
.header-mobile { display: none; }

.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.grey-fonts {
  color: #4a4a4a;
}
.menu .gap {
  margin-right: 16px;
}

/* Banner */
.banner-mobile {
  display: none;
}

.banner {
  width: 100%;
  height: auto;
  background-color: #b8b8b8;
  padding: 32px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem
}
.img-container {
  width: 60%;
  height: auto;
}
.banner-image {
  width: 100%;
  height: auto;
}
.learn-something-new {
  padding-left: 24px;
}
.banner p {
  line-height: 2rem;
  margin: 24px 0px;
}
.banner-btn {
  background-color: #4a4a4a;
  padding: 8px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
}

/* "It doesn't hurt tu keep practicing" section */

.keep-practicing-container {
  width: 100%;
  display: block;
  padding-bottom: 32px;
}
.keep-practicing {
  float: left;
  padding: 0px 24px;
  width: 60%;
  height: auto;
}
.keep-practicing-image {
  width: 100%;
  height: auto;
}
.keep-practicing-text h1 {
  margin: 32px 0px 24px 0px;
}
.keep-practicing-text p {
  margin-bottom: 32px;
}

/* News list column */
.information-list-mobile {display:none;}
.information-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d8d8d8;
}
.information-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.information-image-container {
  width: 35%;
  height: auto;
}
.information-image {
  width: 100%;
  height: auto;
  margin: 0px 16px 16px 24px;
}
.information-text {
  width: 65%;
  padding-right: 16px;
  margin-left: 48px;
  display: flex;
  flex-direction: column;
}
.information-text h3 {
  margin: 16px 0px;
}
.information-text a {
  margin: 16px 0px;
}
.grey-background {
  background-color: #d8d8d8;
  padding-top: 16px;
}
.border-bottom {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 16px;
}

/* Start learning section */
.learning-box-mobile { display: none; }
.learning-box {
  display: block;
  width: 100%;
  height: auto;
  background-color: #d8d8d8;
  margin-top: 64px;
  padding: 32px 0;

}
.learning-heading {
  display: block;
  width: 100%
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.learning-container {
  padding: 0 32px;
  margin-left: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.learning-item {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: #ffffff;
}
.learning-image {
  width: 100%;
  height: auto;
}
.learning-text {
  padding: 16px;
}
.learning-text h3 {
  margin-bottom: 8px;
}
.learning-text p {
  margin-top: 8px;
}
/* thesis */
.thesis-container-mobile { display: none;}
.thesis-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.thesis-heading {
  width: 100%;
  padding: 32px;
  text-align: center;
}
.thesis-video-container {
  width: 60%;
  height: auto;
  padding: 0px 24px 24px 24px;
}
.thesis-video {
  width: 100%;
  height: auto;
}
.thesis-news {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.thesis-news-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}
.thesis-news-item h3 {
  padding: 16px 0;
}
.thesis-image-container {
  width: 35%;
  height: auto;
  margin-right: 16px;
}
.thesis-news-image {
  width: 100%;
  height: auto;
}
.thesis-video-text h1 {
  margin-bottom: 8px;
  margin-top: 24px;
}
/* Footer */
footer {
  margin-top: 32px;
  border-top: 1px solid #d8d8d8;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 64px;
}
.termsandprivacy li, a {
  display: inline;
  color: #000000;
  text-decoration: none;
  margin-left:8px;
}

@media only screen and (max-width:470px) {

  /* Mobile Header and menu */
.header-desktop {
  display: none;
}
.header-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    background-color: #ffffff;
  }

  /* Mobile Banner Mobile */
.banner {
    display: none;
  }
.banner-mobile {
  display: flex;
  flex-direction: column;
}
.banner-image-mobile {
  width: 100%;
  height: auto;
}
.banner-mobile p {
  margin: 32px 0px 24px 0px;
}

.learn-something-new-mobile {
  padding: 32px 16px;
  background-color: #d8d8d8;
}

.keep-practicing {
  display: none;
}
/* Mobile information list */
.information-list {
  display: none;
}
.information-list-mobile {
  display: flex;
  flex-direction: column;
}
.information-list-mobile .information-item-mobile {
  display: flex;
  flex-direction: column;
}
.information-image-container-mobile, .information-image-mobile {
  width: 100%;
  height: auto;
}

.information-text-mobile {
  padding: 16px;
}
.information-text-mobile p {
  padding: 8px 0px;
}
.information-text-mobile span a {
 color: #008df5;
 margin-left: 0;
}

/* Start learning mobile */
.learning-box { display: none;}
.learning-box-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 32px;
}
.learning-box-mobile h1 {
  text-align: center;
  padding: 16px 0px;
}
.learning-item-mobile {
  background-color: #d8d8d8;
  padding: 16px 0px 16px 16px;
  margin: 0px 16px 8px 16px;
  font-weight: 700;
}
/* Thesis mobile */
.thesis-heading, .thesis-container { display: none; }
.thesis-container-mobile {
  display: flex;
  flex-direction: column;
}
.thesis-heading-mobile {
  width: 100%;
  text-align: center;
  margin: 32px 0px;
}
.thesis-video-mobile {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
footer {
  margin: 16px 0px 16px 0px;
  padding: 0;
  border: none;
  height: auto;
}

.termsandprivacy { display: none;}
